.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.bottom-des{
  background-color: #0021c7;
  color: white;
  padding-left: 18px;
}

.input-header{
  color: red;
}


.input-map{
  color: #006FEE
}


.home-header{
  background-color: #006FEE;
  color:#006FEE
}

.title-search-route-number{
  color: #090909
}

ion-icon{
  font-size: 24px
}

.searchbar-icon{
  float: left;
}

.myClass{
  color : #28e070;
}

.focus{
  color: #00178a;
}

.search-form{
  padding: 6px;
}


