<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row style="height: 100%" >
        <ion-col size="2">
          <ion-button (click)="goToHome()" class="header-button" >
            <fa-icon icon="arrow-left" slot="start" size="1x"></fa-icon>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <img src="../../assets/imgs/sltb_logo.png" height="51" width="103"/>
        </ion-col>
        <ion-col class="header-font">
          SLTB EXPRESS
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar>
    <ion-title class="terms">Terms and</ion-title>
    <ion-title class="terms">Condition</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="terms-content">
    <p>
      Welcome! <br/> <br/>

      These terms and conditions outline the rules and regulations for the use of Company Name's Website, located
      at Website.com.

      By accessing this website we assume you accept these terms and conditions. Do not continue to use Website
      Name if you do not
      agree to take all of the terms and conditions stated on this page.

      The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and
      all Agreements:
      “Client”, “You” and “Your” refers to you, the person log on this website and compliant to the Company's
      terms and conditions.
      “The Company”, “Ourselves”, “We”, “Our” and “Us”, refers to our Company. “Party”, “Parties”, or “Us”, refers
      to both the Client
      and ourselves.
      <br/><br/>
      All terms refer to the offer, acceptance and consideration of payment necessary to undertake
      the process of our
      assistance to the Client in the most appropriate manner for the express purpose of meeting the Client's
      needs in respect of provision
      of the Company's stated services, in accordance with and subject to, prevailing law of Netherlands. Any use
      of the above terminology or
      other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and
      therefore as referring to same.
      <br/><br/>
    </p>
    <ion-card-header class="topics"> Cookies</ion-card-header>
    <br/>
    We employ the use of cookies. By accessing Website Name, you agreed to use cookies in agreement with the
    Company Name's Privacy Policy.

    Most interactive websites use cookies to let us retrieve the user's details for each visit.
    Cookies are used by our website to enable the functionality of certain areas to make it easier
    for people visiting our website. Some of our affiliate/advertising partners may also use cookies.

    <br/><br/>

    <ion-card-header class="topics">License</ion-card-header>
    <br/>
    Unless otherwise stated, Company Name and/or its licensors own the intellectual property rights
    for all material on Website Name. All intellectual property rights are reserved. You may access
    this from Website Name for your own personal use subjected to restrictions set in these terms and
    conditions.

    <br/><br/>

    <ion-card-header class="must-not-text">You must not:</ion-card-header>

    <div>
      <ul class="my-modal-list">
        <li>Republish material from Website Name</li>
        <li>Sell, rent or sub-license material from Website Name</li>
        <li>Reproduce, duplicate or copy material from Website Name</li>
        <li>Redistribute content from Website Name</li>
      </ul>
    </div>
    This Agreement shall begin on the date hereof.

  </div>


</ion-content>
