.terms{
  font-size: 32px;
  align-content: center;
  text-align: center;
  letter-spacing: 5px;
  color: #001359;
  font-family: "Arial Black";
}


.terms-content{
  padding: 10px;
  background: #04295f;
  color: white;

}

.topics{
  background: #0d0f3c;
  color: #ffffff;
}

.must-not-text{
  background: #0d0f3c;
  color: #ffffff;
}

.my-modal-list {
  list-style-type: disc;
  padding: 20px;
}

.buttonBack {
  display: inline-block;
  padding: 15px 25px;
  margin: 10px;
  margin-bottom: 10px;
  align-content: center;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #001359;
  background-color: #d7d8da;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}