.single-card {
  background-color: white;
  height: 100%;
  width: 100%;
  border: 2px solid #01ff96;
  border-radius: 9px;
  font-size: 17px;
  margin: 10px;
  color: #4e4e58;
}

.background {
  background-color: #0a3a75;
}

.item {
  align-self: center;
}

.top-row {
  background-color: white;
  font-weight: bold;
}

.price{
  padding-left: 138px;
}