.comment-text {
  padding-left: 30px;
  overflow: auto;
}
.comment-body{
  background-color: #d7d8da;
}
.comment-stars{
  background-color: #f4f5f8;
  background-color: #f4f5f8;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 27px;
  letter-spacing: 2px;
  word-spacing: -7px;
  color: #FFC800;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  padding: 3px;
}
.comment{
  border: 1px solid #008b06;
}
.button-inner{
  height: 50px;
  width: 50px;
}
.radius{
  border-radius: 6px;
}

