
  ion-header{
    background-color: #007aff;
    color: white;
  }

  ion-card{
    transition: 2s all linear;
  }
  .background {
    background-image: url('/assets/seats1.jpg');
    color: white;
  }

  .background-white {
    background-color: white;
  }