<ion-content>

  <ion-header>
    <ion-toolbar>
      <ion-grid>
        <ion-row style="height: 100%" >
          <ion-col size="2">
            <ion-button class="header-button" (click)="goToSearchResults()">
              <fa-icon icon="arrow-left" slot="start" size="1x"></fa-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <img src="../../assets/imgs/sltb_logo.png" height="51" width="103"/>
          </ion-col>
          <ion-col class="header-font">
            SLTB EXPRESS
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  <ion-card class="background">
    <!--<ion-card-header>-->
      <!--&lt;!&ndash;<ion-card-title class="select-seats-text">Please Select Seats</ion-card-title>&ndash;&gt;-->
    <!--</ion-card-header>-->
    <ion-card-content>
      <ol class="cabin fuselage" *ngFor="let row of seatList">
        <li class="row row--1">
          <ol class="seats" >
            <li class="seat" *ngFor="let seat of row.seats">
              <div *ngIf="!seat.isSpace" >
                <div class="a-seat"
                     [ngClass]="getBackgroundColor(seat.isSelected, seat.isBooked)"
                     (click)="onSelectSeat(seat)">
                  <p [ngStyle]="{'color': seat.isSelected || seat.isBooked ? 'white' : '#001359'}">{{seat.seatNo}}</p>
                </div>
              </div>

              <div *ngIf="seat.isSpace">
                <div class="a-blank-seat"></div>
              </div>
            </li>
          </ol>
        </li>
      </ol>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <div class="a-seat selected-seat">
            </div>
            <p>Selected</p>
            <div class="a-seat available-seat">
            </div>
            <p>Available</p>
            <div class="a-seat booked-seat">
            </div>
            <p>Booked</p>
          </ion-col>
          <ion-col size="9">
            <ion-card>
              <ion-card-content class="other-text">
                <ion-grid>
                  <p>your seats</p>
                  <ion-row>
                    <ion-col size="3" *ngFor="let select of selected">
                      <div *ngIf="select.isSelected">
                        <h3>{{select.seatNo}}</h3>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-badge color="warning" style="font-size: 20px;">Price : {{ totalPrice }}</ion-badge>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-end">
          <ion-col>
            <ion-button (click)="goToPayment()" color="primary">Proceed</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
